spring:
  application:
    name: project

  data:
    redis:
      host: localhost
      port: 6379
      # password: your-password  # ?? ?? ??
      timeout: 5s
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 5s